@import "bootstrap";
@import "font-awesome";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: image_url('bg1.png');
   font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
 }

.navbar {
  background: image_url('bg2.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #484D4A;
  font-family: "Helvetica Neue", Helvetica, san-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
}

.page_style {

 .page-link {
 
  position: relative;
 
  display: block;
 
  padding: 0.5rem 0.75rem;
 
  margin-left: -1px;
 
  line-height: 1.25;
 
  color: black;
 
  background-color: #CFCFCE;
 
  border: 1px solid #CFCFCE;
 
}
 
.page-item.disabled .page-link {
 
  color: #838385;
 
  pointer-events: none;
 
  cursor: auto;
 
  background-color: #DEDDD5;
 
  border: none;
 
}
 
.page-item.active .page-link {
 
  z-index: 1;
 
  color: #fff;
 
  background-color: #676545;
 
  border: none;
 
}
 
.page-link:focus, .page-link:hover {
 
  color: #fff;
 
  text-decoration: none;
 
  background-color: #CFCFCE;
 
  border: none;
 
}
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
  height: 300px;
}

.clear {
    clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}